.button {
    margin: 10px auto;
    background-color: #000;
    border: .5px solid DodgerBlue;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    box-shadow: 0 0 30px 0 DodgerBlue,
                0 0 30px 0 DodgerBlue,
                0 0 10px 0 DodgerBlue inset;
  }
