{% extends "base.html" %}

{% block content %}
<a href="{% url 'task:project-list' %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
  </svg>
</a>
  <h1>{{ project.name }}</h1>
  <br>
    <div class="card z-index-2">
        <div class="card-body p-3">
         
          <h3 class="ms-2  mb-0"> Description </h3>
          <br>
          <div class="border-radius-lg">
            <div class="row">
              <p>{{ project.description }}</p>
              
            </div>
          </div>
        </div>
      </div>
      <br>
      <h2>Status</h2>
      <p>{{ project.status }}</p>
      
      
     <br>
        <h2>Team</h2>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            {% for team in project.team.all %}
              <tr>
                  <td>{{ team.name }}</td>
                  <td>
                  <table>
                    {% for user in team.participants.all %}
                      <tr>
                        <td>{{ user.username }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                  </td>
                  <td>
                    <table>
                      {% for user in team.participants.all %}
                        <tr>
                          <td>{{ user.position }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                  </td>
                  
                    
              </tr>
            {% empty %}
              <p>No team!</p>
            {% endfor %}
          </tbody>
          </table>

        
        <br>
    
{% endblock %}
