{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1 class="title">
        Task Type
      </h1>

      {% block search_form %}
        {% include "includes/search_form.html" %}
      {% endblock %}

      {% if task_type_list %}
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
              {% for task_type in task_type_list %}
              <tr>
                  <td>{{ task_type.name }}</td>
                  <td><a class="text-info" href="{% url 'task:task-type-update' pk=task_type.id %}">Update</a></td>
                  <td><a style="color: rgb(252, 61, 3);" href="{% url 'task:task-type-delete' pk=task_type.id %}">Delete</a></td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
      </div>
        {% else %}
        <p>The are no task type in Tasks</p>
        {% endif %}
        <a class="button" style="float: right;" href="{% url 'task:task-type-create' %}">Create</a>
{% endblock %}
