{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <h1 class="title">{{ object|yesno:"Update,Create" }} Worker</h1>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                
                    <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            <a href="{% url 'task:worker-list' %}"><button class="btn btn-secondary">Cancel</button></a>
    
{% endblock %}
